<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ItemDomain.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ItemDomainTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>RetryPoc.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A0AB3D712BEF478500631CBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0B7F0302BAD9A43007546FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0B7F0452BAD9A46007546FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0B7F04F2BAD9A46007546FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
